<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
   <head>
      <title>Customized error 404 page</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <link rel="stylesheet" type="text/css" media="all" href="../../static/css/cloudy.css" th:href="@{/css/cloudy.css}" />
   </head>
   <body>
      <div>
         <p>ERROR 404: Requested page not found</p>
         <br/>
         <table>
            <thead>
               <tr>
                  <th colspan="2">Recommended alternative pages</th>
               </tr>
               <tr>
                  <th>Description</th>
                  <th>Link</th>
               </tr>
            </thead>
            <tbody>
               <tr class="odd">
                  <td>Summary of all Climate records</td>
                  <td><a href="../summary.html" th:href="@{/climate/summary}">link</a></td>
               </tr>
            </tbody>
         </table>
      </div>
   </body>
</html>